<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <h1>JSBridge测试</h1>
  <p onclick="onEvent()">jsbridge.on('myevent') 绑定监听事件</p>
  <p onclick="JSBridgeDispatch('myevent','事件触发成功!');">JSBridgeDispatch || jsbridge.dispatchEvent('myevent') 触发监听事件</p>
  <p onclick="offEvent()">解绑监听事件</p>
  <p onclick="jsbridge.callNative('wenba://xuebajun?view=purchase')">页面：跳转商品列表页面</p>
  <p onclick="jsbridge.callNative('wenba://xuebajun?view=live')">页面：跳转拍照答疑页面</p>
<pre onclick="callNative()">
调用native,等待回调 JSBridgeCB() || jsbridge.nativeCB()
anrdoid活ios只要执行类似JSBridgeCB('scd3fdfs','{"bar":"来自native的消息!"}')
例子:
jsbridge.callNative('foo',{a:'foo',b:['测试']},function(data) {
  alert(data);
})
</pre>
<p onclick="share()">新的分享测试!!!</p>
<p onclick="openurl()">在默认浏览器打开连接</p>
</body>
<script type="text/javascript">
var jsbridge;
window.onload=function() {
  jsbridge=new JSBridge();
}
var off;
function onEvent(){
  off=jsbridge.on('myevent',function(e) {
    alert(e.data);
  })
  alert('绑定成功!');
}
function offEvent(){
  off && off();
  alert('解绑成功!');
}
function callNative(){
  jsbridge.callNative('foo',{a:'foo',b:['测试']},function(data) {
    alert(data.a);
  })
}
function openurl() {
  jsbridge.callNative('openInBrowser',{url:'https://www.baidu.com/'},function(data) {
    alert('打开了百度');
  })
}
function share() {
  var obj = {
    title: 'test title 百度',
    content: 'test content 百度首页',
    imgUrl: 'https://www.baidu.com/',
    shareUrl: 'https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png',
    channel: 47
  }
  jsbridge.callNative('share',obj,function(data) {
    switch (data.status) {
      case 0:
        alert('分享失败')
        return ;
      case 1:
        alert('分享成功')
        return ;
      case 2:
        alert('app外取消')
        return ;
      case 3:
        alert('app内点击取消按钮或分享框上方遮罩')
        return ;
      default:
        alert(JSON.stringify(data))
        return;
    }
  })
}
</script>
</html>
